* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: #e80202;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    font-size: 120px;
    color: #FFF;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
}

h1 span {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

.block {
    position: absolute;
    width: 50px;
    height: 100px;
    background: #e80202;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}